* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: rgb(192, 192, 192);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/*-----------------------------Header and Navbar---------------------*/
header {
  display: flex;
  background-color: rgb(61, 60, 60);
  position: -webkit-sticky;
  top: 0;
  flex: 1;
}
.link {
  margin-top: 30px;
  font-size: 13pt;
}

.link a:hover {
  color: rgb(233, 210, 2);
  transition: 600ms;
}
.link:hover {
  transform: scale(1.2);
  transition: 100ms;
}
.links {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.logo-container {
  width: 10%;
  margin: 7px;
  position: relative;
  display: inline-block;
}
.logo2 {
  display: none;
  position: absolute;
  left: 0;
}
.logo-container:hover .logo2 {
  display: inline;
}

/*------------------------------------------------Body----------------------------------------*/
body {
  background-color: rgb(109, 81, 81);
}
main {
  display: flex;
  flex-direction: column;
}

/*----------------------------------cpuBox-------------------------------*/
.cpuBox {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
/*------------------Ryzen--------------------*/
.ryzen-container {
  margin-left: 7px;
  margin-right: 7px;
  text-align: center;
  flex: 1;
  position: relative;
}
.ryzen-container h1 {
  font-size: 18pt;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.438);
  color: rgb(190, 0, 0);
  border-radius: 25px;
}
.ryzenImage {
  border-radius: 25px;
}
.ryzenImageBlur {
  border-radius: 25px;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}
.ryzen-container a:hover .ryzenImageBlur {
  visibility: visible;
  opacity: 1;
}

/*-----------------Intel--------------------*/
.intel-container {
  margin-right: 7px;
  text-align: center;
  flex: 1;
  position: relative;
}
.intel-container h1 {
  font-size: 18pt;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: 25px;
  color: rgb(0, 0, 180);
}
.intelImage {
  border-radius: 25px;
}
.intelImageBlur {
  border-radius: 25px;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}
.intel-container a:hover .intelImageBlur {
  visibility: visible;
  opacity: 1;
}
/*---------------------------------mouseBox--------------------------------*/
/* Slideshow container */
.slideshow-container {
  max-width: 85%;
  position: relative;
  margin: auto;
  margin-top: 50px;
  flex: 1;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(177, 169, 169);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #a7ca08;
}
#b30000
#af1616

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*--------------------------------box3--------------------------------*/
.box3 {
  height: 500px;
}

/*---------------------------------Footer------------------------------*/
footer {
  display: flex;

  height: auto;
  background-color: rgb(61, 60, 60);
}
.contactUs {
  flex: 2;
}
.contactUs h2 {
  color: rgb(233, 210, 2);
  margin-left: 1%;
}
.contactUs p {
  width: 87%;
  color: rgb(170, 170, 170);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
}

.inputFname,
.inputEmail,
.inputMessage {
  color: rgb(0, 0, 0);
  outline: none;
  padding: 5px;
  margin-bottom: 1%;
  margin-left: 1%;
  border: 2px solid rgb(196, 194, 194);
  border-radius: 10px;
  background-color: rgb(214, 209, 209);
}
.inputFname,
.inputEmail {
  max-width: 450px;
  min-width: 150px;
  width: 25%;
}
.inputMessage {
  max-width: 51.2%;
  min-width: 150px;
  width: 71.5%;
}

.inputFname:hover,
.inputEmail:hover,
.inputMessage:hover {
  background-color: rgb(255, 255, 255);
}

.followUs h2 {
  color: rgb(233, 210, 2);
  margin-bottom: 5%;
  margin-left: 2%;
}
.followUs {
  flex: 1;
}
.followUs ul {
  display: flex;
}
.followUs li {
  width: 64px;
  margin-left: 1%;
}
.followUs a {
  flex-direction: row;
}
.followUs img {
  width: 100%;
}
.followUs img:hover {
  transform: scale(1.2);
}

/*---------------------------------------Medias--------------------------*/
@media (max-width: 500px) {
  .link a {
    font-size: 12pt;
    font-weight: 500;
  }
  .cpuBox h1 {
    font-size: 12pt;
  }
}
@media (min-width: 1000px) {
  nav {
    flex: 1;
  }
  .cpuBox h1 {
    font-size: 20pt;
  }
}
